@media only screen and (max-width: 425px) {
	.nav-menu {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-inline: 50px;
		border: 1px solid #e2e2e2;
		background-color: #fff;
		margin: 0;
		height: 30px;
		font-size: 12px;
	}

	.nav-menu-ul {
		list-style-type: none;
		display: none;
		justify-content: center;
		padding-inline: 50px;
		border-right: 1px solid #e2e2e2;
		border-left: 1px solid #e2e2e2;
	}
	.nav-menu-li {
		margin-inline: 10px;
		margin-block: auto;
		cursor: pointer;
	}
}
@media only screen and (min-width: 426px) and (max-width: 1023px) {
	.nav-menu {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-inline: 50px;
		border: 1px solid #e2e2e2;
		background-color: #fff;
		margin: 0;
		height: 30px;
		font-size: 12px;
	}

	.nav-menu-ul {
		list-style-type: none;
		display: none;
		justify-content: center;
		padding-inline: 50px;
		border-right: 1px solid #e2e2e2;
		border-left: 1px solid #e2e2e2;
	}
	.nav-menu-li {
		margin-inline: 10px;
		margin-block: auto;
		cursor: pointer;
	}
}
@media only screen and (min-width: 1024px) {
	.nav-menu {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-inline: 50px;
		border: 1px solid #e2e2e2;
		background-color: #fff;
		margin: 0;
		height: 30px;
		font-size: 10px;
	}

	.nav-menu-ul {
		list-style-type: none;
		display: flex;
		justify-content: center;
		border-right: 1px solid #e2e2e2;
		border-left: 1px solid #e2e2e2;
	}

	.nav-menu-ul-right {
		list-style-type: none;
		display: flex;
		justify-content: center;
		align-items: center;
		padding-inline: 50px;
	}
	.nav-menu-li {
		margin-inline: 10px;
		cursor: pointer;
	}
}
